<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Admission patient</title>
	    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	    <!----css3---->
        <link rel="stylesheet"  href="css/custom.css">
	
		<!--google fonts -->
	    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
	
	
	   <!--google material icon-->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
      <link rel="stylesheet" href="animation.css">
  </head>
  <body>
  
<div class="wrapper">
     
	  <div class="body-overlay"></div>
	 
	 <!-------sidebar--design------------>
	 
	 <div id="sidebar">
    <div class="sidebar-header">
      <img src="../img/log2.png" class="img-fluid rounded" style="height: 50px;"/><span>
    </div>
  <ul class="list-unstyled component m-0">
    <li class="active">
    <a href="index" class="dashboard"><i class="material-icons">dashboard</i>Tableau de bord</a>
    </li>	
    <li class="">
      <a href="materiel" class="">
        <i class="material-icons">computer</i>Materiel
      </a>
    </li>
    <li class="">
      <a href="personnel" class="">
          <i class="material-icons">person</i>Le personnel
      </a>
  </li>
  <li class="">
    <a href="emprunt" class="">
        <i class="material-icons">block</i>emprunt
    </a>
</li>
  </ul>
 </div>
	 
   <!-------sidebar--design- close----------->
   
      <div id="content">
	   	  <!------top-navbar-start-----------> 
		     
         <div class="top-navbar">
          <div class="xd-topbar">
            <div class="row">
              <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
               <div class="xp-menubar">
                 <span class="material-icons text-white">signal_cellular_alt</span>
             </div>
            </div>
            
            <div class="col-md-5 col-lg-3 order-3 order-md-2">
             
            </div>
            
            
            <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
                <div class="xp-profilebar text-right">
                 <nav class="navbar p-0">
                  <ul class="nav navbar-nav flex-row ml-auto">
                  <li class="dropdown nav-item active">
                    <a class="nav-link" href="" data-toggle="dropdown">
                   <span class="material-icons"></span>
                   <span class="notification" style="border-radius: 100%;"></span>                
                  </a>
                   <ul class="dropdown-menu">
                    
                   </ul>
                  </li>
                  </ul>
               </nav>
              </div>
            </div>
          </div>
          
          <div class="xp-breadcrumbbar text-center">
             <h4 class="page-title" style="color: yellow;">TABLEAU DE BORD CAMERAIL</h4>
           <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">Administrateur</a></li>
             <li class="breadcrumb-item active" aria-curent="page">Administrateur</li>
           </ol>
          </div>
        </div>
       </div>	  
		  
<!------main-content-start-----------> 



<div class="offset-md-2 col-md-8 mt-5">
  <div class="card">
      <div class="card-header bg-info text-white">
          Statistiques
      </div>
      <div class="card-body">
          <div class="row">
            
              <div class="col-md-4">
                  <a class="text-decoration-none text-dark" href="personnel">
                      <div class="card my-card shadow text-center p-3">
                          <h4>Le Personnel <i class="fas fa-users"></i></h4>
                          <h3  class="text-primary"><%= String(personnel.length).padStart(2, '0') %></h3>
                      </div>
                  </a>
              </div>
              <div class="col-md-4">
                  <a class="text-decoration-none text-dark" href="materiel">
                      <div class="card my-card shadow text-center p-3">
                          <h4>Le Matériel <i class="fas fa-box"></i></h4>                        
                          <h3 class="text-success"><%= String(materiel.length).padStart(2, '0') %></h3>
                      </div>
                  </a>
              </div>
              <div class="col-md-4">
                  <a class="text-decoration-none text-dark" href="emprunt">
                      <div class="card my-card shadow text-center p-3">
                          <h4>Emprunt <i class="fas fa-shipping-fast"></i></h4>
                          <h3  class="text-danger"><%= String(emprunt.length).padStart(2, '0') %></h3>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>


<!----footer-design------------->
		 
<footer class="footer">
	<div class="container-fluid">
		<div class="footer-in">
			<p class="mb-0">&copy 2023 CAMERAIL . All Rights Reserved.</p>
		</div>
	</div>
</footer>  
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  
    <!-- annimer fenetre -->
	<script type="text/javascript">
		$(document).ready(function(){
		   $(".xp-menubar").on('click',function(){
			 $("#sidebar").toggleClass('active');
			 $("#content").toggleClass('active');
		   });
		   
		   $('.xp-menubar,.body-overlay').on('click',function(){
			  $("#sidebar,.body-overlay").toggleClass('show-nav');
		   });		   
		});
   </script>
  </body>
  </html>


